.MainNav {
    background-color: black;
    width: 100%;
}

.MainNav a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.link {
    margin: auto 1rem;
    padding: .5rem;
}