.mobileNavDiv {
    background-color: black;
    
}

.MainNav {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subMenuRevealButton {
    width: 25px;
    margin-left: 20px;
}

.MainNav a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.active {
    font-weight: bolder;
    color: blue;
}

.HomeLinkButton,
.MembershipLinkButton {
    display: none;
}

i {
    padding-left: 1%;
}

.HomeLink,
.AboutLink,
.AmenitiesLink,
.EventsLink,
.ActivitiesLink,
.MembershipLink,
.ResidentialLink {
    margin: auto 1rem;
    padding: .5rem;
}



.NatureLink,
.HistoryLink,
.ClubhouseLink,
.GolfLink,
.TennisLink,
.FitnessLink,
.OutdoorsLink,
.WeddingsLink,
.TournamentsLink,
.BusinessLink,
.YouthLink,
.GroupsLink,
.ComMapLink,
.HomesLink,
.LandLink,
.CottagesLink,
.ResourcesLink {
    padding-top: .5rem;
}

.AboutLinkSubMenu,
.AmenitiesLinkSubMenu,
.EventsLinkSubMenu,
.ActivitiesLinkSubMenu,
.MembershipLinkSubMenu,
.ResidentialLinkSubMenu {
    /* display: none; */
    margin: auto 2rem;
    padding: .5rem;
}


