header {
    width: 100vw;
    max-height: 15vh;
    min-height: 15vh;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
}

.MoneyHillLogo {
    max-height: 100%;
    width: 15%;
    overflow: hidden;
}

.MoneyHillLogo img {
    max-height: 100%;
    max-width: 100%;
}

.HeaderContact,
.HeaderLogin {
    font-weight: bold;
    margin: auto 1rem;
}