footer {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    min-height: 10vh;
    max-height: 10vh;
    overflow: hidden;
}

.DevContact {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
}

.MoneyHillContact {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

p {
    line-height: 45%;
}

.phoneAndEmail {
    margin: auto;
}

.address {
    margin: auto;
    display: flex;
    flex-direction: row;
}

i {
    margin: auto;
    padding-right: 20px;
}