footer {
    display: flex;
    flex-direction: row;
    
    background-color: black;
    color: white;
    min-height: 10vh;
    max-height: 10vh;
    overflow: hidden;
}

.DevContact {
    margin: auto;
    width: 20%;
}

.MoneyHillContact {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    
}

p {
    line-height: 45%;
}

.phoneAndEmail {
    margin: auto;
}

.address {
    margin: auto;
    display: flex;
    flex-direction: row;
}

i {
    margin: auto;
    padding-right: 20px;
}